
.dashboard{position:relative;height:expression(document.body.clientHeight-10); width:expression(document.body.clientWidth-5); padding:10px;}

/* 灰色gray 样式三 */
.dashboardList{background:#F8F8F8; border:1px solid #C8D5DB; border-top-left-radius:0.6em; border-top-right-radius:0.6em; border-bottom-left-radius:0.3em; border-bottom-right-radius:0.3em; }
.DBTitleContent{background:#EAEAEA; border-bottom:#C8D5DB 5px solid;height:25px;line-height:25px; border-top-left-radius:0.6em; border-top-right-radius:0.6em;}
.DBTitleText{ color:#000;font-weight:bold;font-size:12px; padding-left:9px; padding-top:5px;}
.DBTitleIconList{float:right; margin-top:5px;*margin-top:-18px;margin-right:5px;}
.DBTitleIconListno{float:right; margin-top:5px;}
.DBTitleIconList a{ width:12px; height:12px;margin-right:5px;}
.DBTitleIconList a.filter{background:url(dbd-stylethree/gray/icon.png) -13px -10px no-repeat; display:inline-block;width:11px; height:10px;}
.DBTitleIconList a.filterno{background:url() -0px -0px no-repeat; display:none;width:11px; height:10px;}
.DBTitleIconList a.set{background:url(dbd-stylethree/gray/icon.png) -37px -10px no-repeat; display:inline-block;width:11px; height:10px;}
.DBTitleIconList a.setno{background:url() -0px -0px no-repeat; display:none;width:11px; height:8px;}
.DBTitleIconList a.refresh{background:url(dbd-stylethree/gray/icon.png) -79px -10px no-repeat; display:inline-block;width:11px; height:10px;}
.DBTitleIconList a.show{background:url(dbd-stylethree/gray/icon.png) -57px -10px no-repeat; display:inline-block;width:11px; height:10px;}
.DBTitleIconList a.showno{background:url() -0px -0px no-repeat; display:none;width:11px; height:8px;}
.DBTitleIconList a.filter:hover{ background:url(dbd-stylethree/gray/icon.png) -13px -39px no-repeat;width:11px; height:10px;}
.DBTitleIconList a.filterno:hover{ background:url() -13px -39px no-repeat;width:11px; height:10px;}
.DBTitleIconList a.set:hover{ background:url(dbd-stylethree/gray/icon.png) -37px -39px no-repeat;width:11px; height:10px;}
.DBTitleIconList a.refresh:hover{ background:url(dbd-stylethree/gray/icon.png) -79px -39px no-repeat;width:11px; height:10px;}
.DBTitleIconList a.show:hover{background:url(dbd-stylethree/gray/icon.png) -57px -39px no-repeat; display:inline-block;width:11px; height:10px;}
.DBContentContent{ margin:0px 5px; padding:0px; background-color:#F8F8F8;margin-bottom: 5px;}